# do not create a queue: section for your test environment
test:
  adapter: postgresql
  encoding: utf8
  database: canvas_test
  host: localhost
  username: canvas
  timeout: 5000

test-in-memory:
  adapter: sqlite3
  encoding: utf8
  database: ':memory:'
  pool: 1

development:
  adapter: postgresql
  encoding: utf8
  database: canvas_development
  username: canvas
  timeout: 5000
  queue:
    adapter: postgresql
    encoding: utf8
    database: canvas_development
    username: canvas
    timeout: 5000
